<div class="article-top">
    <h1><a href="/posts/<%= post.slug %>"><%= post.title  %></a></h1>
    <hr />
    <div class="counters-line">
        <div class="pull-left">
            <div class="date"><i class="icon-date"></i> <%= time_ago_in_words(post.created_at) %></div>
            <div class="user"><i class="icon-user"></i>  <a href="/users/<%= post.user.slug %>"><%= post.user.username %></a></div>
            <!-- <div class="comments"><i class="icon-comments"></i> <a href="#">63</a></div> -->
        </div>
        <div class="pull-right">
            <div class="like">
                <%= link_to like_post_path(post), method: :put, remote: true do %>
                    <i class="icon-like text-success"></i> <span class="text-success"><%= post.get_upvotes.size %></span>
                <% end %>
            </div>
            <div class="dislike">
                <%= link_to dislike_post_path(post), method: :put, remote: true do %>
                    <i class="icon-dislike text-danger"></i> <span class="text-danger"><%= post.get_downvotes.size %></span>
                <% end %>
            </div>
        </div>
    </div>
    <div class="buttons-bar">
        <div class="buttons  pull-right">
            <!-- <a href="#" class='repost has-tooltip' data-title="REPOST">Repost</a> -->
            <div class="count"><%= post.cached_votes_score %></div>
            <span class="favorite-container">
                <%- unless current_user && current_user.favorite_posts.exists?(id: post.id) -%>
                    <%= link_to 'bookmark', favorite_posts_path(post_id: post), method: :post, remote: true, class: "bookmark has-tooltip", data:{title: "ADD TO FAVORITES", post: "post-#{post.id}"} %>
                <%- else -%>
                    <%= link_to 'bookmark', favorite_post_path(post), method: :delete, remote: true, class: " bookmarked has-tooltip", data:{title: "REMOVE FROM FAVORITES", post: "post-#{post.id}"} %>
                <%- end -%>
            </span>

            <!-- <a href="#" class='bookmark has-tooltip' data-title="BOOKMARK">bookmark</a> -->
        </div>
        <div class="social-icons ">
            <a href="javascript:void(0)" data-href="https://www.facebook.com/sharer/sharer.php?u=<%= "#{request.original_url}posts/#{post.slug}" %>" class='facebook has-tooltip' data-title="Share on Facebook">facebook</a>
            <a href="javascript:void(0)" data-href="https://twitter.com/intent/tweet?source=tweetbutton&amp;text=<%= post.title %>&amp;url=<%= "#{request.original_url}posts/#{post.slug}" %>" class='twitter has-tooltip' data-title="Share on Twitter">twitter</a>
            <a href="javascript:void(0)" data-href="https://plus.google.com/share?url=<%= "#{request.original_url}posts/#{post.slug}" %>" class='googleplus has-tooltip' data-title="Share on Google +">googleplus</a>
            <a href="mailto:?subject=<%= post.title %>&amp;body=<%= post.title %>%20<%= "#{request.original_url}posts/#{post.slug}" %>" class='mail has-tooltip' data-title="Share via Email">mail</a>
        </div>
    </div>
</div>
