<div class="col-xs-12">
    <%= form_for(:user, url: session_path(:user), :html => {:class => "login_form"}) do |f| %>
        <div class="row">
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Email:</span>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="input-group">
                    <span class="input-group-addon">Password:</span>
                    <%= f.password_field :password, class: 'form-control' %>
                </div>
            </div>
        </div>
        <div class="login-or">
            <hr class="hr-or">
            <span class="span-or">or</span>
        </div>
        <div class="row social-auth">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <%= link_to user_omniauth_authorize_path(:facebook), class: "btn btn-primary btn-block custom-button social-auth-button facebook" do %>
                             <i class="fa fa-facebook"></i>
                            <span class="hidden-xs hide">Facebook</span>
                        <% end %>
                    </div>
                    <div class="col-xs-4">
                        <%= link_to user_omniauth_authorize_path(:twitter), class: "btn btn-primary btn-block custom-button social-auth-button twitter" do %>
                            <i class="fa fa-twitter"></i>
                            <span class="hidden-xs hide">Twitter</span>
                        <% end %>
                    </div>
                    <div class="col-xs-4">
                        <%= link_to user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary btn-block custom-button social-auth-button google" do %>
                            <i class="fa fa-google"></i>
                            <span class="hidden-xs hide">Google</span>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="modal-footer">
                <%= f.submit "Log in", class: "btn btn-primary btn-block custom-button" %>
            </div>
        </div>
    <% end %>
</div>
