<div class="col-sm-7 right-content profile-bg">
    <div id="user-header" class="profile-wrap" >
    <div class="profile-wrap">
        <div class="col-sm-9">
            <div class="outer">
                <div class="inner">
                    <figure>
                        <%= image_tag(@user.avatar.url(:thumb) ) %>
                    </figure>
                    <div class="text">
                        <div class="outer">
                            <div class="inner">
                                <a href="#" class="user-name"><%= @user.username %></a>
                                <div class="counters" style="visibility: hidden;">21390 kuods</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="outer">
                <div class="inner">
                    <div class="counter-item" style="visibility: hidden;">
                        <span class="number">321k</span><br/>
                        <span class="exp">kudos</span>
                    </div>
                    <div class="counter-item">
                        <span class="number"><%= @user.posts.size %></span><br/>
                        <span class="exp">posts</span>
                    </div>
                </div>
            </div>
        </div>
<!--         <div class="col-xs-12">
            <hr>
        </div> -->
    </div>
    </div>
    <div class="row">
        <section class="main-wrap">
            <header>
                <h1>posts by <%= @user.username %></h1>
                <div class="separator"></div>
            </header>
            <section>
                <% @user.posts.each do |post| %>
                    <%= render partial: "#{post.mediable_type.to_s.downcase.pluralize}/partials/show", locals: {post: post} %>
                <% end %>
            </section>
        </section>
    </div>
</div>
