<article class="main-post" id="post_<%= post.id %>">
    <%= render partial: 'posts/shared/post_top', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <div class="corner-tag yellow">
                <a href="/categories/<%= post.category.slug %>"><%= post.category.name %></a>
            </div>
            <div class="video-wrap">
                <%=raw post.mediable.media %>
            </div>
        </figure>
    </div>
</article>
