<article class="main-post" id="post_<%= post.id %>">
    <%= render partial: 'posts/shared/post_top', locals: {post: post} %>
    <div class="article-content">
        <figure>
            <div class="corner-tag blue">
                <a href="/categories/<%= post.category.slug %>"><%= post.category.name %></a>
            </div>
            <%= image_tag post.mediable.media.url(:large) %>
        </figure>
    </div>
</article>
