<header id="main-header">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <%= link_to root_path, id: "logo", class: "navbar-brand" do %>
                        <%= image_tag('la-crazy-mandoca-logo.png') %>
                    <% end %>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <%= raw(display_nav_categories) %>
                    <ul class="nav navbar-nav navbar-right ">
                        <li>
                            <% if user_signed_in? %>
                                <%= link_to "Upload", '#postModal', class: "btn btn-primary btn-block custom-button", :data => {:toggle=>"modal"} %>
                            <% else %>
                                <%= link_to "Upload", new_user_session_path, class: "btn btn-primary btn-block custom-button" %>
                            <% end %>
                        </li>
                        <div class="user-box <%= 'loggedout' unless user_signed_in? %>">
                            <% if user_signed_in? %>
                                <li class="dropdown">
                                    <%= link_to '#', class: "dropdown-toggle", :data => {:toggle=>"dropdown"} do %>
                                        <figure>
                                            <%= image_tag(current_user.avatar.url(:thumb), class: 'img-circle') %>
                                        </figure>
                                        <span class="name"><%= current_user.username %></span>
                                    <% end %>
                                    <ul class="dropdown-menu drop-down">
<!--                                         <li class="counters-line hidden-xs text-center">
                                            <span>Login to post &amp; more</span>
                                        </li> -->
                                        <li class="buttons-line">
                                            <ul class="list-unstyled">
                                                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-block custom-button", :data => {:toggle=>"modal"} %></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            <% else %>
                                <li class="dropdown">
                                    <%= link_to '#', class: "dropdown-toggle", :data => {:toggle=>"dropdown"} do %>
                                        <span class="name">Login</span>
                                    <% end %>
                                    <ul class="dropdown-menu drop-down">
                                        <li class="counters-line hidden-xs text-center">
                                            <span>Login to post &amp; more</span>
                                        </li>
                                        <li class="buttons-line">
                                            <ul class="list-unstyled">
                                                <li><%= link_to "Login", '#authenticationModal', class: "btn btn-primary btn-block custom-button login-button", :data => {:toggle=>"modal"}, rel: 'login-window' %></li>
                                                <li><%= link_to "Register", '#authenticationModal', class: "btn btn-primary btn-block custom-button register-button", :data => {:toggle=>"modal"}, rel: 'register-window' %></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            <% end %>
                        </div>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
