<aside class="col-sm-4 col-sm-offset-1">
  <div class="widget">
      <!-- <h2><a href="#">Top5 Funniest</a></h2> -->
      <!-- <hr /> -->
      <div class="widget-content">
          <div class="post-list">
              <% @top_posts.to_a.shift(4) { |post, index| index < 4 }.each_with_index do |post, index| %>
                <a href="<%= post_path(post) %>">
                  <article>
                    <header style="max-width: 100%; max-height: 200px; overflow-y: hidden; margin-bottom: 15px">
                      <% if post.mediable_type == "Image" %>
                        <%= image_tag post.media, class: "img-responsive", style: "width: 100%; margin: 0px auto;" %>
                      <% else %>
                        <%= image_tag "http://img.youtube.com/vi/#{post.mediable.youtube_id}/mqdefault.jpg", class: "img-responsive", style: "margin: 0px auto;, width: 100%;" %>
                      <% end %>
                    </header>
                    <footer class="text">
                          <h1 class="text-center"><%= post.title %></h1>
                    </footer>
                  </article>
                </a>
              <% end %>
          </div>
      </div>
      <div class="widget" style="text-align: center">
          <h2>Ads</h2>
          <hr/>
          <div class="widget-content">

              <!-- LCM Publicidad 1 -->
              <ins class="adsbygoogle"
                   style="display:block"
                   data-ad-client="ca-pub-7666235511049102"
                   data-ad-slot="6779714792"
                   data-ad-format="auto"></ins>
              <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
              </script>
          </div>
      </div>
      <div class="widget-content">
          <div class="post-list">
              <% @top_posts.to_a.shift(4) { |post, index| index > 3  && index < 8 }.each_with_index do |post, index| %>
                <a href="<%= post_path(post) %>">
                  <article>
                    <header style="max-width: 100%; max-height: 200px; overflow-y: hidden; margin-bottom: 15px">
                      <% if post.mediable_type == "Image" %>
                        <%= image_tag post.media, class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% else %>
                        <%= image_tag "http://img.youtube.com/vi/#{post.mediable.youtube_id}/mqdefault.jpg", class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% end %>
                    </header>
                    <footer class="text">
                          <h1 class="text-center"><%= post.title %></h1>
                    </footer>
                  </article>
                </a>
              <% end %>
          </div>
      </div>
      <div class="widget">
          <h2>Find us on Facebook</h2>
          <hr />
          <div class="widget-content">
              <div class="fb-like-box" data-href="#" data-width="165" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
          </div>
      </div>
      <div class="widget" style="text-align: center">
          <h2>Ads</h2>
          <hr/>
          <div class="widget-content">
            <!-- LCM Publicidad 2 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7666235511049102"
                 data-ad-slot="8256447993"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
      <div class="widget-content">
          <div class="post-list">
              <% @top_posts.to_a.shift(4) { |post, index| index > 7  && index < 12 }.each_with_index do |post, index| %>
                <a href="<%= post_path(post) %>">
                  <article>
                    <header style="max-width: 100%; max-height: 200px; overflow-y: hidden; margin-bottom: 15px">
                      <% if post.mediable_type == "Image" %>
                        <%= image_tag post.media, class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% else %>
                        <%= image_tag "http://img.youtube.com/vi/#{post.mediable.youtube_id}/mqdefault.jpg", class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% end %>
                    </header>
                    <footer class="text">
                          <h1 class="text-center"><%= post.title %></h1>
                    </footer>
                  </article>
                </a>
              <% end %>
          </div>
      </div>
      <div class="widget" style="text-align: center">
          <h2>Ads</h2>
          <hr/>
          <div class="widget-content">
            <!-- LCM Publicidad 3 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7666235511049102"
                 data-ad-slot="9733181190"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
      <div class="widget-content">
          <div class="post-list">
              <% @top_posts.to_a.drop(12) { |post, index| index > 11 }.each_with_index do |post, index| %>
                <a href="<%= post_path(post) %>">
                  <article>
                    <header style="max-width: 100%; max-height: 200px; overflow-y: hidden; margin-bottom: 15px">
                      <% if post.mediable_type == "Image" %>
                        <%= image_tag post.media, class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% else %>
                        <%= image_tag "http://img.youtube.com/vi/#{post.mediable.youtube_id}/mqdefault.jpg", class: "img-responsive", style: "margin: 0px auto; width: 100%;" %>
                      <% end %>
                    </header>
                    <footer class="text">
                          <h1 class="text-center"><%= post.title %></h1>
                    </footer>
                  </article>
                </a>
              <% end %>
          </div>
      </div>
      <div class="widget" style="text-align: center">
          <h2>Ads</h2>
          <hr/>
          <div class="widget-content">
            <!-- LCM Publicidad 4 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7666235511049102"
                 data-ad-slot="2209914399"
                 data-ad-format="auto"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
      </div>
  </div>
</aside>
