<!DOCTYPE html>
<html>
<head>
  <title>La Crazy Mandoca</title>
  <%= favicon_link_tag 'la-crazy-mandoca-logo.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  </head>
  <body>
    <section id="main" role="main">
      <%= render 'layouts/header' %>
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="row">
              <%= flash_messages %>
            </div>
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'layouts/footer' %>
      <%= render 'shared/authentication_modal' %>
      <%= render 'shared/post_modal' %>
    </section>
  </body>
</html>
